@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Paisanica</h1>
    <p>Aprende acerca de <a href="https://docs.microsoft.com/aspnet/core">Integración</a>.</p>
    <p>Se genera el token.</p>
    <p>Se genera el token 1.</p>
</div>
